/* CSS Básico */

/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4012e3;
    color: white;
    padding: 10px 0;
}

header .logo {
    height: 50px;
    margin-left: 20px;
}

header nav {
    display: inline-block;
    vertical-align: middle;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    color: #333;
    margin-left: 20px;
}

form, table, ul {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
